@model IEnumerable<WebApi.Models.FastFoodItem>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center">List Food</h2>
<div class="row mt-2">   
    <div class="col-10">
        <form action="/Admin/FindNameFood" method="get" class="form-inline my-2 my-lg-0 d-flex">
            <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search by name..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="col-2">
        <form asp-action="IndexFood" method="get" class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Show All</button>
        </form>
    </div>
</div>
<p class="mt-3">
    <a class="btn btn-outline-primary" href="/Admin/CreateFood"><i class="bi bi-plus-circle"></i>Food</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <img src="@item.Picture" alt="@item.Name" width="80" height="100" class="combo-image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Category.Name
                </td>
                <td>
                    <a class="btn btn-outline-success" href="/Admin/EditFood/@item.Id"><i class="bi bi-pencil-fill"></i>Edit</a>
                    <a class="btn btn-outline-success" href="/Admin/DetailFood/@item.Id"><i class="bi bi-pencil-fill"></i>Detail</a>
                    <form class="d-inline" action="/Admin/DeleteFood/@item.Id" method="post">
                        <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3"></i>Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
