@model List<WebApi.Models.Combo>

<div class="">
    <form method="get" asp-controller="Combo" asp-action="FindName">
            <input type="text" name="name" class="form-control" placeholder="Looking For" />
    </form>

    <h1>List Combo</h1>
    <a class="btn btn-outline-primary" href="/Combo/Create"><i class="bi bi-plus-circle"></i>Combo</a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Image</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Combo in Model)
            {
                <tr>
                    <td>@Combo.Id</td>
                    <td>@Combo.Name</td>
                    <td>@Combo.Price</td>s
                    <td>@Combo.Quantity</td>
                    <td>
                        <img src="@Combo.Picture" alt="@Combo.Name" width="80" height="100" class="combo-image" />
                    </td>
                    <td>@Combo.Description</td>
                    <td>
                        <a class="btn btn-outline-success" href="/Combo/Edit/@Combo.Id"><i class="bi bi-pencil-fill"></i>Edit</a>
                        <form class="d-inline" action="/Combo/Delete/@Combo.Id" method="post">
                            <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3"></i>Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>